body {
  background-color: #090a0e;
  color: white;
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 15px;
  background-color: #0f1014;

  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-cover {
  width: 100%;
}

.movie-placeholder {
  min-height: 359px;
  background-color: #004600;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  min-height: 500px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  max-width: 70%;
  padding-bottom: 55px;
}

.hero-title {
  font-size: 72px;
  margin: 0;
}

.button {
  background-color: #0f1014;
  color: white;
  border: 1px solid white;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
}

.button--close {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  left: 30px;
}

.youtube-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
